* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    font-family: "Origin", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 17rem;
    border-radius: 0.625rem;
    background-color: hsl(0, 0%, 100%);
}

img {
   max-width: 100%;
   height: auto; 
   padding: 1rem;
   border-radius: 1.625rem;
}

h1 {
    font-size: 18px;
    padding: 0 1rem;
    color: hsl(218, 44%, 22%);
}

h1, p {
    text-align: center; 
    line-height: 1.5;
}

p {
    padding: 1rem;
    color: hsl(220, 15%, 55%);
}

.attribution {
    padding: 1rem;
}

.click {
    max-width: 15rem;
    background-color: hsl(0, 0%, 100%);
    margin: 0.5rem;
    border-radius: 0.625rem;
}

a {
    text-decoration: none;
    color: hsl(218, 44%, 22%);
}

.click:hover {
    background-color: hsl(218, 44%, 22%);
}

.click:hover a {
    color: hsl(0, 0%, 100%);
}